build
*.pb.h
*.pb.cc
*.stub.h
*.stub.cc
*.netmsg.h
*.netmsg.cc
tags
*.swp
*.swo
.dep.inc
.vscode/
.clangd/
.cache
.gitlab-ci-local
generate.go
compile_commands.json
.vimspector.json
test/
go.work
.settings/
.classpath
.factorypath
.project
*.orig
.tablestore_config
.tablestore_tableinfo
.php-cs-fixer.cache
out/
.phpactor.json
tmp
tmp/
.DS_Store
.codecompanion.workspace.json
.github/
bak/
