[user]
    email = hokix@live.com
    name = hokix
[core]
    excludesfile = ~/.gitignore
    pager = less -FRX
[commit]
    template = ~/.gittemplate
    verbose = true
[push]
    default = simple
    autoSetupRemote = true
[pull]
    default = simple
    rebase = true
[color]
    ui = auto
[merge]
    tool = nvimdiff
[diff]
    tool = nvimdiff
[format]
    pretty = format:'%Cred%h%Creset -%C(yellow)%d%Creset %an %s %Cgreen(%ad)%Creset'
[include]
    path = .gitconfig-url
    path = .gitconfig-local
[includeIf "gitdir:~/workspace*/"]
    path = .gitconfig-job
[credential]
	helper = 
	helper = manager
